.reservation-background{style: "background: url(/rooms/#{@reservation.room.image}) no-repeat top center fixed;"}
  .container
    = render 'layouts/alerts'
    .room-header
      .date= Time.now.strftime("%A %-d %B")
      = image_tag("/rooms/#{@reservation.room.nameplate_image}", alt: @reservation.room.name)
    = form_tag reservation_path(@reservation), method: :delete do
      .form-group.form-group-lg
        = label_tag :secretword, '', class: 'control-label'
        = text_field_tag :secretword, '',  class: 'form-control', placeholder: 'Secret Word'
      .form-group.form-group-lg
        .pull-right
          = submit_tag 'Send', class: 'btn btn-success'
    %br
    %br
