- room_id = params[:reservation].blank? ? params[:room_id] : params[:reservation][:room_id]
- room = Room.find(room_id)
.col-md-6.col-lg-6
  = simple_form_for @reservation, role: 'form' do |f|
    - if @reservation.errors.any?
      #error_explanation
        %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
        %ul
          - @reservation.errors.full_messages.each do |msg|
            %li= msg

    .form-group.form-group-lg
      = f.label :Room, class: 'control-label'
      = f.label room.name, class: 'control-label'
      = f.hidden_field :room_id, value: room.id
    .form-group.form-group-lg
      = f.label :start, class: 'control-label'
      = f.time_select :start, class: 'form-control'
    .form-group.form-group-lg
      = f.label :finish, class: 'control-label'
      = f.time_select :finish, class: 'form-control'
    .form-group.form-group-lg
      = f.label :activity_type_id, class: 'control-label'
      = f.select(:activity_type_id, @activity_type.collect{|u| [u.name, u.id]}, prompt: 'Select')
    .form-group.form-group-lg
      = f.label :username, for: :username,  class: 'control-label'
      = f.text_field :username, class: 'form-control', placeholder: 'Name'
    .form-group.form-group-lg
      = f.label :secretword, class: 'control-label'
      = f.text_field :secretword,  class: 'form-control', placeholder: 'Secret Word'
    .form-group.form-group-lg
      = f.label :comment, class: 'control-label'
      = f.text_area :comment, class: 'form-control', placeholder: 'Description'
    .form-group.form-group-lg
      .pull-right
      = link_to 'Back', room_path(room.id), class: 'btn btn btn-default'
      = f.submit 'Save', class: 'btn btn-success'
