%h1 Listing reservations
%container
  %table.table
    %tr
      %th Room
      %th Start
      %th Finish
      %th Activity type
      %th Username
      %th Secretword
      %th Comment
      %th Active
      %th
      %th
      %th

    - @reservations.each do |reservation|
      %tr
        %td= reservation.room.name
        %td= reservation.start
        %td= reservation.finish
        %td= reservation.activity_type.name
        %td= reservation.username
        %td= reservation.secretword
        %td= reservation.comment
        %td= reservation.active
        %td= link_to 'Show', reservation, class: 'btn btn btn-default btn-sm'
        %td= link_to 'Destroy', reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn btn-default btn-sm'

  %br

  = link_to 'New Reservation', new_reservation_path, class: 'btn btn btn-default'
