- room_id = params[:reservation].blank? ? params[:room_id] : params[:reservation][:room_id]
- room = Room.find(room_id)
.reservation-background{style: "background: url(/rooms/#{room.image}) no-repeat bottom center fixed;"}
  .container
    .room-header
      .date= Time.now.strftime("%A %-d %B")
      = image_tag("/rooms/#{room.nameplate_image}", alt: room.name)
    = render 'form'
