%p#notice= notice

%p
  %b Room:
  = @reservation.room.name
%p
  %b Start:
  = @reservation.start
%p
  %b Finish:
  = @reservation.finish
%p
  %b Activity type:
  = @reservation.activity_type.name
%p
  %b Username:
  = @reservation.username
%p
  %b Secretword:
  = @reservation.secretword
%p
  %b Comment:
  = @reservation.comment
%p
  %b Active:
  = @reservation.active

= link_to 'Back', reservations_path, class: 'btn btn btn-default'
