.row
  - @rooms.each do |room|
    %a{:href => room_path(room)}
      - class_status = room.reservation_status == :busy ? 'room_booked' : ''
      .room_h.col-sm-6.col-md-4{class: class_status}
        .room
          .book
            %button.btn.btn-default.btn-lg.active{:type => "button"} Take meeting

          .status{class: room.reservation_status}

          %img{alt: room.name, src: "/rooms/#{room.preview_name}", width: "100%"}/

          .nameplate
            %img{alt: room.name, src: "/rooms/#{room.nameplate_image}"}/

          .people_quantity
            .glyphicon.glyphicon-user
            = room.people_quantity
