.room-background{style: "background: url(/rooms/#{@room.image}) no-repeat bottom center fixed;"}
  .container
    .room-header
      .date= Time.now.strftime("%A %-d %B")
      = image_tag("/rooms/#{@room.nameplate_image}", alt: @room.name)
    .shedule-wrapper
      %table
        - (9..20).each do |t|
          %tr
            %td.time= sprintf('%02d:00 - %02d:30', t, t)
            %td.line
          %tr
            %td.time= sprintf('%02d:30 - %02d:00', t, t + 1)
            %td.line
      .reservations{data: { new: new_reservation_path({room_id: @room.id})}}
        - start_of_day = Time.now.beginning_of_day + 9.hours
        - end_of_day = Time.now.beginning_of_day + 21.hours
        - @reservations.each do |reservation|
          - reservation.start = start_of_day if reservation.start <= start_of_day
          - reservation.start = end_of_day if reservation.start >= end_of_day
          - reservation.finish = start_of_day if reservation.finish <= start_of_day
          - reservation.finish = end_of_day if reservation.finish >= end_of_day
          - if reservation.start >= start_of_day && reservation.finish <= end_of_day && reservation.finish != reservation.start
            .reservation{style: "height: #{(reservation.finish.to_i - reservation.start.to_i) / 45}px;line-height: #{(reservation.finish.to_i - reservation.start.to_i) / 45}px; top: #{(reservation.start.to_i - Time.now.midnight.to_i) / 45 - 720}px;"}
              %span.username= reservation.username
              %span.comment.visible-md-block.visible-lg-block= reservation.comment
              %span.type.hidden-xs= reservation.activity_type.name
              %span.delete= link_to 'cancel reservation', reservation, method: 'delete', data: { confirm: 'Are you sure?' }
        - if Time.now >= start_of_day && Time.now <= end_of_day
          .current-time{style: "top: #{(Time.now.to_i - Time.now.midnight.to_i) / 45 - 720}px;"}
