/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.menu_header{
  background-color:  #f26433;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
  height: 40px;
}

body{
  padding-top: 34px;
}

.status-help{
  cursor: pointer;
  color: white;
  padding: 10px 20px 14px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.dropdown li{
//  margin-left: 20px;
}

.dropdown ul{
  margin-right: 19px;
  width: 200px;
  background-color:  white;
}

.dropdown-menu {
  border-radius: 0;
  padding: 0 0;
  margin: 0;
  border-right: none;
}

.pr50mr20{
//  position: absolute;
  margin-top: -10px;
  height: 37px;
  width: 10px;
//  padding-right: 50px;
//  margin-right: 20px
}

a:hover {
  background-color: none;
}

.pr50mr20free {
  margin-top: -7px;
  height: 35px;
  width: 10px;

}

.pr50mr20nearly_free {
  margin-top: -10px;
  height: 40px;
  width: 10px;
}

.text_field {
  left: 5px;
}

.rooms_index .row{
  margin: 0px;
}