.reservations_controller
  .container
    background: white
  .reservation-background
    -webkit-background-size: cover !important
    -moz-background-size: cover !important
    -o-background-size: cover !important
    background-size: cover !important
    margin: 0
    padding: 0
    min-height: 100%
  .room-header
    float: left
    width: 100%
    padding: 14px 30px 10px
    border-bottom: 1px solid #ccc
    margin-bottom: 8px
    .date
      font-family: Ubuntu, "times new roman", times, roman, serif
      float: left
      font-size: 30px
    img
      float: right
      height: 40px
  .panel-body
    height: 500px
    overflow: scroll
  .shedule-wrapper
    position: relative
    float: left
    height: 960px
    width: 100%
    table
      height: inherit
      width: inherit
      border-spacing: 0px
      tr
        td
          box-sizing: border-box
          height: 40px
          border: 1px solid #ccc
          text-align: center
          &.time
            width: 160px
            border-right: none
          &.line
            border-left: none
    .reservations
      position: absolute
      height: inherit
      top: 0px
      width: 100%
      & > div
        box-sizing: border-box
        width: 100%
      .reservation
        position: absolute
        line-height: 40px
        opacity: 0.8
        background: #d6d6d6
        span.username
          color: #333333
          margin-left: 160px
        span.type
          color: #adadad
          margin-left: 80px
        span.delete
          float: right
          margin-right: 20px
          a
            color: black
            &:hover
              background-color: transparent
        &.new
          text-align: center
          height: 40px
          background: #d6d6d6
          a.reserve
            color: black
            &:hover
              background-color: transparent
      .current-time
        opacity: 0.4
        position: absolute
        border: 2px solid red

  .form-group label:first-child
    min-width: 180px
