// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room
  margin: 5px
  position: relative
  text-align: center
  border: none
  padding-top: 20px

.room_h
  padding-bottom: 35px
  position: absolute

.room_booked
  background: #f6f6f6

.room_h:hover
  cursor: pointer
  background: #f6f6f6
  .book
    display: block

.people_quantity
  color: #A0A0A0
  width: 50px
  float: right
  margin-top: -30px

.nameplate
  margin-top: -35px

.col-md-4
  border-left: 1px solid #C0C0C0
  border-top: 1px solid #C0C0C0

.rooms_show
  .container
    background: white
    opacity: 0.8
    min-width: 600px
    padding-left: 0px
    padding-right: 0px
  .room-background
    -webkit-background-size: cover !important
    -moz-background-size: cover !important
    -o-background-size: cover !important
    background-size: cover !important
    margin: 0
    padding: 0
    min-height: 100%
  .room-header
    float: left
    width: 100%
    padding: 14px 30px 10px
    .date
      font-family: Ubuntu, "times new roman", times, roman, serif
      float: left
      font-size: 30px
    img
      float: right
      height: 40px
  .panel-body
    height: 500px
    overflow: scroll
  .shedule-wrapper
    position: relative
    float: left
    height: 960px
    width: 100%
    min-width: 600px
    table
      height: inherit
      width: inherit
      border-spacing: 0px
      tr
        td
          box-sizing: border-box
          height: 40px
          border: 1px solid #ccc
          border-left: none
          border-right: none
          text-align: center
          &.time
            width: 160px
    .reservations
      position: absolute
      height: inherit
      top: 0px
      width: 100%
      & > div
        box-sizing: border-box
        width: 100%
      .reservation
        position: absolute
        line-height: 40px
        opacity: 0.8
        background: #d6d6d6
        border: 1px solid #999
        span
          float: left
          min-width: 160px
        span.username
          color: #333333
          margin-left: 160px
        span.comment
          color: #ababab
          min-width: 260px
        span.type
          color: #ababab
        span.delete
          display: none
          float: right
          margin-right: 20px
          a
            color: black
            &:hover
              background-color: transparent
        &.new
          width: 100%
          text-align: center
          height: 40px
          background: #d6d6d6
          border: none
          color: black
        &:hover span.delete
          display: block
      .current-time
        opacity: 0.4
        position: absolute
        border: 2px solid red
.book
  margin: auto
  width: 50%
  left: 50%
  margin-left: -25%
  display: none
  top: 40%
  position: absolute
  vertical-align: middle

.status
  height: 15px
  width: 100%

.free
  background-color: #5ccd99

.busy
  background-color: #d9534f

.nearly_free
  background-color: #5bc0de

.nearly_busy
  background-color: #f0ad4e
