.menu_header
  .pull-left{style: "margin-left: 10px; margin-top: 2px;"}
    .logo= link_to(image_tag('logo.png'), root_path)
  .pull-right.dropdown
    .status-help.glyphicon.glyphicon-align-justify.pull-right{"data-toggle" => "dropdown", style:"margin-right:20px"}
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li{style: "padding-top: 7px;"}
        .free.pull-left.pr50mr20free
        = "&nbsp;".html_safe
        Free
      %li.divider
      %li
        .busy.pull-left.pr50mr20
        = "&nbsp;".html_safe
        Busy
      %li.divider
      %li
        .nearly_busy.pull-left.pr50mr20
        = "&nbsp;".html_safe
        Will be busy on 15 min.
      %li.divider
      %li
        .nearly_free.pull-left.pr50mr20nearly_free
        = "&nbsp;".html_safe
        Will be free on 15 min.
  .clearfix