!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title ComfortConference
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin'}

    = stylesheet_link_tag    :application, media: :all
    = csrf_meta_tags
  %body{class: "#{controller.controller_name}_#{controller.action_name} #{controller.controller_name}_controller"}
    = render 'layouts/main_menu'
    = yield

    = javascript_include_tag :application, media: :all
